*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#2C343C;
    padding:1rem;
    margin:2rem 0;
    background-color: #eee;
}

.heading span{
    color:#73AB44;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 11%;
}

header .logo{
    font-size: 3rem;
    color:#2C343C;
    font-weight: bolder;
}

header .logo span{
    color:#73AB44;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#2C343C;
}

header .navbar a:hover{
    color:#73AB44;
}

header .icons a{
    font-size: 2.5rem;
    color:#2C343C;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:#73AB44;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.mid {
    text-align: center;
    font-size: 4rem;
    color:#2C343C;
    padding:1rem;
    margin:2rem 0;
    margin-top: 2%;
}

.mid span{
    color: #73AB44;
}

.cart_icon{
    margin-left: 40%;
    margin-top: 2%;
}

.link_prod a{
    color:#2C343C;
    cursor: pointer;
    font-size: 4rem;
    text-decoration: none;
}

.link_prod:hover a{
    color:#73AB44;
}

.cart_buy_find{
    text-align: center;
    font-size: 4rem;
    color:#2C343C;
    padding:1rem;
    margin:2rem 0;
}

.footer{
    margin-top: 5%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:#73AB44;
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}