@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
}

.main-login{
    width: 100vw; /* vw: porcentagem da largura da tela do dispositivo */
    height:100vh; /*height*/
    background: white ;
    display: flex; /* faz que os objetos ficam de lado ao lado */
    justify-content: center ;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex; /* faz que os objetos ficam de lado ao lado */
    justify-content: center ;
    align-items: center;
    flex-direction: column;

}

.left-login > h1{
    color: #77ffc1;
    font-size: 3vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.card-login{
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px ;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(213, 228, 213);
}

.card-login >h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}
.textfield >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding:15px;
    background: #514869;
    color: #f0ffffde ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px green;
    box-sizing: border-box;

}

.textfield > label{
    color: #f0ffffde;
    margin-bottom:10px ;

}

.textfield > input::placeholder{
    color: #f0ffff94;

}

.btn-login{
    width:100%;
    padding: 16px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff88;
}
.left_image{
    width: 35vw;

}
.criar_conta{
    text-decoration: none;
    color: white;
}

.criar_conta:hover {
    text-decoration: underline;
}

